certifi
charset-normalizer
colorama
cvxopt
cycler
fonttools
idna
joblib
kiwisolver
lxml
matplotlib
numpy
packaging
pandas-datareader
pandas
patsy
pillow
plotly
pyparsing
python-dateutil
pytz
requests
retrying
scikit-learn
scipy
seaborn
setuptools-scm
six
statsmodels
threadpoolctl
tomli
tqdm
typing-extensions
urllib3
